* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: montserrat, monospace;
    background-color: rgb(244, 244, 244);

}

.headerdiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex;
    align-items: center;
    font-size: smaller;
    color: rgb(1, 5, 122);
    background-color: white;
    box-shadow: 0 0 15px rgb(195, 195, 195);
}

.headertitle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.letstart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 32px;
    color: rgb(1, 5, 122);
}

.boxcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.cards{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(198, 198, 198);
    margin-bottom: 24px;
}

.cardvideo {
    width: 300px;
    border-radius: 16px;
    margin: 8px;
}

.cardtitle{
    /* margin-left: 16px; */
    text-align: center;
    margin-bottom: 16px;
    font-weight: bold;
    color: rgb(1, 5, 122);
}

.update {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.updateinfo {
    margin-top: 32px;
    margin-bottom: 32px;
}

.back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.backbutton {
    height: 40px;
    width: 96px;
    box-shadow: 0 0 10px rgb(185, 185, 185);
    border: solid 2px rgb(1, 5, 122);
    border-radius: 100px;
    background-color: white;
    color: rgb(1, 5, 122);
    font-weight: bold;
    font-family: montserrat;
}

.backbutton:hover {
    cursor: pointer;
}