*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: montserrat, monospace;
    background-color: rgb(244, 244, 244);
}

.headerdiv{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex;
    align-items: center;
    color: #01057a;
    font-size: smaller;
    background-color: white;
    box-shadow: 0 0 15px rgb(202, 202, 202);
    margin-bottom: 20px;
}

.headertitle{
    margin-top: 10px;
    margin-bottom: 10px;
}

.bannersection{
    margin-left: -23px;
}

.launchcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.launchcards{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(198, 198, 198);
    margin-bottom: 24px;
    
}

.launchcardvideo {
    width: 600px;
    height: 338px;
    border-radius: 16px;
    margin: 8px;
}

.launchcardtitle{
    /* margin-left: 16px; */
    text-align: center;
    margin-bottom: 16px;
    font-weight: bold;
    color: rgb(1, 5, 122);
}

.letstartbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letstart{
    margin-bottom: 32px;
    background-color: #01057a;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
}

.letstart:hover{
    background-color: white;
    border: 1px solid #01057a;
    cursor: pointer;
}

.letstart:hover .ls{
    color: #01057a;
}

.ls{
    color: white;
    padding: 5px 5px 5px 10px;
    font-family: montserrat;
    font-size: 25px;
}

.hr{
    margin-bottom: 25px;
    box-shadow: 0 0 15px #01057a;
}

.maincontenttitle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maincontenttitle{
    margin-left: 50px;
    margin-bottom: 20px;
}


.bannerdiv {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 800px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(202, 202, 202);
}

.maincontent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -23px;

}

.boxcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(198, 198, 198);
    margin-bottom: 24px;
    margin-left: 50px;
}

.cardimage {
    width: 300px;
    border-radius: 16px;
    margin: 8px;
}

.cardtitle{
    /* margin-left: 16px; */
    text-align: center;
    margin-bottom: 16px;
    font-weight: bold;
    color: rgb(1, 5, 122);
}

a:link{
    text-decoration: none;
}

.update{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: larger;
}

.updateinfo{
    margin-top: 48px;
    margin-bottom: 48px;
}



@media screen and (max-width: 700px) {

    /* .bannerdiv {
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
    }
    
    .banner{
        width: 330px;
        border-radius: 16px;
        box-shadow: 0 0 15px rgb(202, 202, 202);
    } */
    
    .letstart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        margin-top: 24px;
        margin-bottom: 32px;
        color: rgb(1, 5, 122);
    }

    .ls{
        color: white;
        margin: 5px 15px 5px 10px;
        font-family: montserrat;
        font-size: 20px;
    }

    .maincontent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
    }

    .maincontenttitle-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .maincontenttitle{
        margin-left: -5px;
        margin-bottom: 20px;
    }

    .launchcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-left: -20px;
    }
    
    .launchcards{
        background-color: white;
        border-radius: 16px;
        box-shadow: 0 0 15px rgb(198, 198, 198);
        margin-bottom: 24px;
        
    }
    
    .launchcardvideo {
        width: 300px;
        height: 168.5px;
        border-radius: 16px;
        margin: 8px;
    }
    
    .launchcardtitle{
        /* margin-left: 16px; */
        text-align: center;
        margin-bottom: 16px;
        font-weight: bold;
        color: rgb(1, 5, 122);
    }
    
    a:link{
        text-decoration: none;
    }
    
    .update{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    
    .updateinfo{
        margin-top: 48px;
        margin-bottom: 48px;
    }
}