*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: montserrat, monospace;
    background-color: rgb(244, 244, 244);
}

/* Header */

.headerdiv{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #01057a;
    font-size: smaller;
    background-color: white;
    box-shadow: 0 0 15px rgb(202, 202, 202);
    margin-bottom: 20px;
}

.headertitle{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Banner */

.bannerdiv {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 800px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(202, 202, 202);
}

/* New Episode Button */

.NewEpisodebutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NewEpisode{
    margin-top: 24px;
    margin-bottom: 32px;
    background-color: #01057a;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
}

.NewEpisode:hover{
    background-color: white;
    border: 1px solid #01057a;
    cursor: pointer;
}

.NewEpisode:hover .NE{
    color: #01057a;
}

.NE{
    color: white;
    padding: 8px 10px 11px 17px;
    font-family: montserrat;
    font-size: 20px;
}

/* horizontal rule  */

.hr{
    margin-bottom: 25px;
    box-shadow: 0 0 15px #01057a;
}

/* Playlist Title */

.playlisttitle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlisttitle{
    /* margin-left: 50px; */
    margin-bottom: 20px;
}


/* Playlist Section  */

.playlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -48px;
    margin-bottom: 32px;
}

.boxcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
}

.playlistcard{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(198, 198, 198);
    margin-bottom: 24px;
    margin-left: 48px;
}

.cardimage {
    width: 300px;
    border-radius: 16px;
    margin: 8px;
}

.cardtitle{
    /* margin-left: 16px; */
    text-align: center;
    margin-bottom: 16px;
    font-weight: bold;
    color: rgb(1, 5, 122);
}

a:link{
    text-decoration: none;
}

/* Episodes Section */

.Episodes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.Episodecard{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(198, 198, 198);
}

.Episodecardvideo{
    border-radius: 16px;
    margin: 8px;
}

.Episodecardtitle{
    font-family: montserrat;
    text-align: center;
    margin-bottom: 8px;
    font-weight: bolder;

}

.notesbuttondiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.notesbutton{
    margin-bottom: 16px;
    font-family: montserrat;
    background-color: rgb(1, 5, 122);
    color: white;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 16px;
    font-size: 14px;
    transition: 0.2s;
}

.notesbutton:hover{
    background-color: white;
    border: 1px solid rgb(1, 5, 122);
    color: rgb(1, 5, 122);
}

/* Update Instruction */

.update{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: larger;
}

.updateinfo{
    margin-top: 48px;
    margin-bottom: 48px;
}



@media screen and (max-width: 700px) {

    .headertitle{
        font-size: 20px;
    }

    .hbdiv{
        position: relative;
        margin-right: -27em;
    }

    .bannerdiv {
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
    }
    
    .banner{
        width: 330px;
        border-radius: 16px;
        box-shadow: 0 0 15px rgb(202, 202, 202);
    }

    .boxcontainer{
        margin-bottom: 48px;
        margin-left: 0px;
    }
    
    .update{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    
    .updateinfo{
        margin-top: 48px;
        margin-bottom: 48px;
    }
}