*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(244, 244, 244);
}

.mainheadingdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 0 15px rgb(202, 202, 202);
    margin-bottom: 20px;
}

.mainheading{
    font-family: montserrat, monospace;
    color: rgb(1, 5, 122);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.bannerdiv {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 800px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(202, 202, 202);
}

@media screen and (max-width: 700px) {

    .bannerdiv {
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
    }
    
    .banner{
        width: 330px;
        border-radius: 16px;
        box-shadow: 0 0 15px rgb(202, 202, 202);
    }

}